<h1>Register#show</h1>
<p>Find me in app/views/register/show.html.erb</p>
<%= form_for :post, url: '/register/done' do |f| %>
<p>
  <%= f.text_field :uuid, placeholder: '合言葉を入力してください' %>
  <%= f.hidden_field :location, :value => params[:location] %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
